./__tests__/**/*.ts
./!components/**/*.ts
./!components/**/*.tsx
./!hooks/**/*.ts
./!interfaces/**/*.ts
./!pages/**/*.ts
./!pages/**/*.tsx
./!services/**/*.ts
./!utils/**/*.ts
./!middleware.ts
./!*.ts