.hourButton {
    background-color: transparent;
    margin: 0.5rem;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    transition: background-color 0.3s ease, color 0.3s ease;
    max-width: 900px;
  }
  
  .calendarWrapper {
    background-color: white ;
    color: black;
  }

  .calendarWrapper .fc-day-today{
    background-color: #4444 ;
  }
  
