:root {
  --background: #ffffff;
}


html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: #333;
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.PhoneInputInput{
  background-color: var(--background);
}

.chakra-select__indicatorGroup{
  padding: 10px;
}
.chakra-select__trigger{
padding: 10px;
cursor: pointer;
}
.css-1006k0u {
  gap: 20px;
}