:root {
  --background: #ffffff;
  --foreground: #171717;
    --fc-border-color: black;
    --fc-daygrid-event-dot-width: 5px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.fc-toolbar {
  text-transform: capitalize; 
}

.fc .fc-button{
  background: #000;
  color: white;
  border: 1px solid #fff;
}
.fc .fc-button:hover {
  background-color: #ffffff ; 
  color: #000000 ;            
  border: 1px solid #000000 ;  
}
.fc-daygrid-day:hover{
  background: rgba(0, 0, 0, 0.1);
  cursor: pointer;
}
.fc-daygrid-day.fc-day-today,
.fc-daygrid-day.fc-day-today .fc-daygrid-day-frame {
  background-color: #525050;
}