:root {
    --background: #ffffff;
}

html,
body {
    max-width: 100vw;
    overflow-x: hidden;
}

body {
    color: #333;
    background: var(--background);
    font-family: Arial, Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.PhoneInputInput {
    background-color: var(--background);
}

.chakra-select__indicatorGroup {
    padding: 10px;
}
.chakra-select__trigger {
    padding: 10px;
    cursor: pointer;
}
.css-1006k0u {
    gap: 20px;
}

[data-state='unchecked'] [data-part='item-indicator'] {
    display: none !important;
}
.css-t10ba0,
.css-1r6tcn5 {
    max-width: none;
}
.tr-table:hover,
.css-4jvnpz:hover,
.css-lr1uno:hover {
    background-color: #f5f5f5;
}
.css-fa4i0c {
    color: #4b5563;
    font-weight: 600;
    padding: 10px;
}
.chakra-select__positioner,
.css-1fx66aq {
    z-index: 10000;
    min-width: 220px;
}
.select-content-admin-edit {
    position: absolute;
    bottom: 25px;
}
.css-m6e6s1 {
    margin: 10px;
}
.css-lr1uno {
    color: black;
}
.select-content-service {
    width: 160px !important;
    color: black;
}
.select-content-service {
    width: 160px !important;
    color: black;
    padding: 10px;
}
